.popup-header{
    margin: 0 !important;
    padding: 0 !important;
}

.popup-content{
    margin: 0 !important;
    padding: 0 !important;
}

.popup-footer{
    margin: 0 !important;
    padding: 0 !important;
}